In [296]:
from bs4 import BeautifulSoup as soup
import pandas as pd
import requests
import re
import string
response = requests.get('https://en.wikipedia.org/wiki/List_of_English_football_transfers_summer_2022')
page_soup = soup(response.text, 'html.parser')

In [317]:
table = page_soup.find('table')
df = pd.read_html(str(table))  
df[0]

,Date,Name,Moving from,Moving to,Fee
0,10 March 2022,Ørjan Nyland,Unattached,Reading,NaN
1,11 March 2022,Kamil Jóźwiak,Derby County,Charlotte,NaN
2,18 March 2022,Brandon Mason,Unattached,MK Dons,NaN
3,18 March 2022,Keiren Westwood,Unattached,Queens Park Rangers,NaN
4,19 March 2022,Derick Osei,Unattached,AFC Wimbledon,NaN
...,...,...,...,...,...
633,1 September 2022,Carlos Vinícius,Benfica,Fulham,[562]
634,1 September 2022,Lewis Ward,Swindon Town,Sutton United,[563]
635,1 September 2022,Willian,Corinthians,Fulham,[562]
636,1 September 2022,Callum Wright,Leicester City,Blackpool,[545]
637,1 September 2022,NaN,NaN,NaN,NaN